@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 390px) {
  .hidden-390 {
    display: none !important;
  }
  .block-390 {
    display: block !important;
  }
}

@media (min-width: 391px) {
  .block-390 {
    display: none !important;
  }
}